# All unimportant hidden files
.*
!.gitignore
!.gitkeep
!.gitattributes
!.gitmodules
!.editorconfig

# Temporary and system files
*~*
.DS_Store
desktop.ini

# Output directories
build/
dist/
bin/
out/

logs/

# Local secrets
/config/*
!/config/.gitkeep

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
